{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>CoursePage</h1>
    <div class="border-top pt-4">
        <h2>{{ title }}</h2>
        {% if user.is_student %}
            {% for course in user.student_profile.courses.all %}
                {% if title == course.course_code %}
                    <h3>{{ course.name }}</h3>
                    <br>

                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Lecture Notes/Study Material</h4>
                            <div class="border-top pt-2">
                                {% for document in course.documents_set.all %}
                                    <a href="{{ document.doc.url }}"><h5>{{ document.name }}</h5></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4>Student Grades</h4>
                            {% for exam in course.exams_set.all %}
                                <div class="border-top pt-3">
                                    {% for u in exam.studentgrade_set.all %}
                                        {% if u.student.user == user %}
                                            <h5>{{ exam.name }}</h5>
                                                <!-- <p>**Correct this a bit**</p> -->
                                                <p>Submission Deadline: {{ exam.last_date }}</p>
                                                <p>Marks Obtained : {{ u.marks_obtained }}</p>
                                                <p>Maximum Marks : {{ exam.max_marks }}</p>
                                            {{ break }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-4">
                            <h4>Announcements</h4>
                            <div class="border-top pt-2">
                            {% for announcement in course.announcements_set.all %}
                                <a href="announcement/{{ announcement.title }}"><h5>{{ announcement.title }}</h5></a>
                            {% endfor %}
                        </div>
                    </div>
                    {{ break }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="border-top pt-4">
        {% if user.is_instructor %}
            {% for course in user.instructor_profile.courses.all %}
                {% if title == course.course_code %}
                    
                    <h3>For Instructors</h3>
                    <p>**Will make a student marks pdf to be downloaded or something like that**</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Documents Uploaded</h4>
                            <h6><a href="{% url 'edit_documents' %}">Edit Uploaded Documents</a></h6>
                            <div class="border-top pt-2">
                                {% for document in course.documents_set.all %}
                                    <a href="{{ document.doc.url }}"><h5>{{ document.name }}</h5></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4>Announcements</h4>
                            <h6><a href="{% url 'edit_announcement' %}">Edit Announcement</a></h6>
                            <div class="border-top pt-2">
                                {% for announcement in course.announcements_set.all %}
                                    <a href="announcement/{{ announcement.title }}"><h5>{{ announcement.title }}</h5></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <a href="grades"><h4>View Student's Grades</h4></a>
                    <a href="add-announcement"><h4>Add Announcement</h4></a>
                    {{ break }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}